@using System.Text.Json
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{

	Layout = "layout.cshtml";

}
<h2>Poll test</h2>
    @if (Model.Value<string[]>("list").Length > 0)
    {
    <ul>
        @foreach (var item in Model.Value<string[]>("list"))
        {
            <li>@item</li>
        }
    </ul>
    }
    <div class="w-25">
    @await Component.InvokeAsync("Polls", new { Model = Model.Value("testPoll") })
    </div>
@await Html.GetBlockGridHtmlAsync(Model, "blockGrid")