@using System.Text.Json
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{

	Layout = "layout.cshtml";

}
<h2>@Model.Value("pageTitle")</h2>
<p>
    <div class="w-25">
    @await Component.InvokeAsync("Polls", new { Model = Model.Value("testPoll") })
    </div>    
</p>

@await Html.GetBlockGridHtmlAsync(Model, "blockGrid")